### ENERGY OUTPUT DATA

#### MERGING DATA

In [1]:
# Import necessary packages
import pandas as pd
import os

# Navigate to the folder where your CSV files are 
os.chdir('/Users/claudiaarresemata/Desktop/MIT courses/FALL/ML/PROJECT/test_2022')

# Create an empty dataframe
df = pd.DataFrame([])

# Read all CSV files and append them to df
for root, dirs, files in os.walk("."):
   for name in files:
       df_temp = pd.read_csv(name, encoding= 'unicode_escape')
       df = pd.concat([df,df_temp])

# Save df to a CSV file
#df.to_csv('all-csv-files.csv')

In [2]:
df

,Time Stamp,Time Zone,Fuel Category,Gen MW,Datetime,Day,Month,Hour,Year,Dual Fuel_Gen_MW,Hydro_Gen_MW,Natural Gas_Gen_MW,Nuclear_Gen_MW,Other Fossil Fuels_Gen_MW,Solar_Gen_MW,Wind_Gen_MW
0,07/25/2022 00:05:00,EDT,Dual Fuel,6522.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07/25/2022 00:05:00,EDT,Natural Gas,4952.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,07/25/2022 00:05:00,EDT,Nuclear,3158.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,07/25/2022 00:05:00,EDT,Other Fossil Fuels,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,07/25/2022 00:05:00,EDT,Other Renewables,239.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088,07/17/2022 00:00:00,EDT,Nuclear,3217.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2089,07/17/2022 00:00:00,EDT,Other Fossil Fuels,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2090,07/17/2022 00:00:00,EDT,Other Renewables,268.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2091,07/17/2022 00:00:00,EDT,Wind,83.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2092,07/17/2022 00:00:00,EDT,Hydro,2203.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#add column with hour of day
df['Hour'] = pd.to_datetime(df['Time Stamp']).dt.hour
#add column with month
df['Month'] = pd.to_datetime(df['Time Stamp']).dt.month
#add column with day
df['Day'] = pd.to_datetime(df['Time Stamp']).dt.day
#add column with year
df['Year'] = pd.to_datetime(df['Time Stamp']).dt.year
df

,Time Stamp,Time Zone,Fuel Category,Gen MW,Datetime,Day,Month,Hour,Year,Dual Fuel_Gen_MW,Hydro_Gen_MW,Natural Gas_Gen_MW,Nuclear_Gen_MW,Other Fossil Fuels_Gen_MW,Solar_Gen_MW,Wind_Gen_MW
0,07/25/2022 00:05:00,EDT,Dual Fuel,6522.0,NaN,25.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07/25/2022 00:05:00,EDT,Natural Gas,4952.0,NaN,25.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,07/25/2022 00:05:00,EDT,Nuclear,3158.0,NaN,25.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,07/25/2022 00:05:00,EDT,Other Fossil Fuels,16.0,NaN,25.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,07/25/2022 00:05:00,EDT,Other Renewables,239.0,NaN,25.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088,07/17/2022 00:00:00,EDT,Nuclear,3217.0,NaN,17.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2089,07/17/2022 00:00:00,EDT,Other Fossil Fuels,0.0,NaN,17.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2090,07/17/2022 00:00:00,EDT,Other Renewables,268.0,NaN,17.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2091,07/17/2022 00:00:00,EDT,Wind,83.0,NaN,17.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2092,07/17/2022 00:00:00,EDT,Hydro,2203.0,NaN,17.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#drop columns that are not needed
df = df.drop(['Time Zone'], axis=1)
df

,Time Stamp,Fuel Category,Gen MW,Datetime,Day,Month,Hour,Year,Dual Fuel_Gen_MW,Hydro_Gen_MW,Natural Gas_Gen_MW,Nuclear_Gen_MW,Other Fossil Fuels_Gen_MW,Solar_Gen_MW,Wind_Gen_MW
0,07/25/2022 00:05:00,Dual Fuel,6522.0,NaN,25.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07/25/2022 00:05:00,Natural Gas,4952.0,NaN,25.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,07/25/2022 00:05:00,Nuclear,3158.0,NaN,25.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,07/25/2022 00:05:00,Other Fossil Fuels,16.0,NaN,25.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,07/25/2022 00:05:00,Other Renewables,239.0,NaN,25.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088,07/17/2022 00:00:00,Nuclear,3217.0,NaN,17.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2089,07/17/2022 00:00:00,Other Fossil Fuels,0.0,NaN,17.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2090,07/17/2022 00:00:00,Other Renewables,268.0,NaN,17.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2091,07/17/2022 00:00:00,Wind,83.0,NaN,17.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2092,07/17/2022 00:00:00,Hydro,2203.0,NaN,17.0,7.0,0.0,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#unique values in each column
df.nunique()

Time Stamp                   89874
Fuel Category                    7
Gen MW                        9840
Datetime                      7296
Day                             31
Month                           11
Hour                            24
Year                             1
Dual Fuel_Gen_MW              6848
Hydro_Gen_MW                  6436
Natural Gas_Gen_MW            6763
Nuclear_Gen_MW                3939
Other Fossil Fuels_Gen_MW     1115
Solar_Gen_MW                  1777
Wind_Gen_MW                   5726
dtype: int64

In [6]:
#we have the value of energy output for every 5 minutes, we want to have the value for every hour
# we will take the sum of the energy output for every hour 
df_group=df.groupby(['Day', 'Month', 'Hour', 'Year', 'Fuel Category']).sum().reset_index()
#rename Other Renewables to Solar
df_group['Fuel Category'] = df_group['Fuel Category'].replace('Other Renewables', 'Solar')
#rename all values in column Fuel Category adding the word 'Energy' to the end of each value
df_group['Fuel Category'] = df_group['Fuel Category'].apply(lambda x: x + '_Gen_MW')
df_group

/var/folders/8j/jz_b0rdx4ds9vm2rtjdth4980000gn/T/ipykernel_3875/1870551032.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_group=df.groupby(['Day', 'Month', 'Hour', 'Year', 'Fuel Category']).sum().reset_index()

,Day,Month,Hour,Year,Fuel Category,Gen MW,Dual Fuel_Gen_MW,Hydro_Gen_MW,Natural Gas_Gen_MW,Nuclear_Gen_MW,Other Fossil Fuels_Gen_MW,Solar_Gen_MW,Wind_Gen_MW
0,1.0,1.0,0.0,2022.0,Dual Fuel_Gen_MW,29794.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,0.0,2022.0,Hydro_Gen_MW,27403.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,0.0,2022.0,Natural Gas_Gen_MW,21335.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,2022.0,Nuclear_Gen_MW,36700.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,0.0,2022.0,Other Fossil Fuels_Gen_MW,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51067,31.0,10.0,23.0,2022.0,Natural Gas_Gen_MW,36776.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51068,31.0,10.0,23.0,2022.0,Nuclear_Gen_MW,39873.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51069,31.0,10.0,23.0,2022.0,Other Fossil Fuels_Gen_MW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51070,31.0,10.0,23.0,2022.0,Solar_Gen_MW,2838.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51071,31.0,10.0,23.0,2022.0,Wind_Gen_MW,4646.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
#transform Fuel Cateogry into columns and set value to Gen MWh
df_new=df_group.pivot_table(index=['Day', 'Month', 'Hour', 'Year'], columns='Fuel Category', values='Gen MW').reset_index()
#add datetime column 
df_new['Datetime'] = pd.to_datetime(df_new[['Year', 'Month', 'Day', 'Hour']])
#set Datetime as index
df_new = df_new.set_index('Datetime')
df_new

Fuel Category,Day,Month,Hour,Year,Dual Fuel_Gen_MW,Hydro_Gen_MW,Natural Gas_Gen_MW,Nuclear_Gen_MW,Other Fossil Fuels_Gen_MW,Solar_Gen_MW,Wind_Gen_MW
Datetime,,,,,,,,,,,
2022-01-01 00:00:00,1.0,1.0,0.0,2022.0,29794.0,27403.0,21335.0,36700.0,33.0,2645.0,8080.0
2022-01-01 01:00:00,1.0,1.0,1.0,2022.0,28523.0,28414.0,21392.0,40031.0,36.0,2922.0,9891.0
2022-01-01 02:00:00,1.0,1.0,2.0,2022.0,27699.0,28854.0,21776.0,40024.0,36.0,2906.0,7843.0
2022-01-01 03:00:00,1.0,1.0,3.0,2022.0,26788.0,29620.0,20171.0,40012.0,36.0,2890.0,8555.0
2022-01-01 04:00:00,1.0,1.0,4.0,2022.0,27341.0,30051.0,22813.0,40005.0,36.0,2878.0,8223.0
...,...,...,...,...,...,...,...,...,...,...,...
2022-10-31 19:00:00,31.0,10.0,19.0,2022.0,47950.0,38821.0,46531.0,39876.0,0.0,2831.0,5096.0
2022-10-31 20:00:00,31.0,10.0,20.0,2022.0,47688.0,37138.0,44950.0,39860.0,0.0,2828.0,5700.0
2022-10-31 21:00:00,31.0,10.0,21.0,2022.0,45377.0,36239.0,41306.0,39871.0,0.0,2816.0,5454.0
2022-10-31 22:00:00,31.0,10.0,22.0,2022.0,41545.0,29687.0,40208.0,39875.0,0.0,2816.0,5058.0
2022-10-31 23:00:00,31.0,10.0,23.0,2022.0,38686.0,26263.0,36776.0,39873.0,0.0,2838.0,4646.0

In [12]:
df_new

Fuel Category,Day,Month,Hour,Year,Dual Fuel_Gen_MW,Hydro_Gen_MW,Natural Gas_Gen_MW,Nuclear_Gen_MW,Other Fossil Fuels_Gen_MW,Solar_Gen_MW,Wind_Gen_MW
Datetime,,,,,,,,,,,
2022-01-01 00:00:00,1.0,1.0,0.0,2022.0,29794.0,27403.0,21335.0,36700.0,33.0,2645.0,8080.0
2022-01-01 01:00:00,1.0,1.0,1.0,2022.0,28523.0,28414.0,21392.0,40031.0,36.0,2922.0,9891.0
2022-01-01 02:00:00,1.0,1.0,2.0,2022.0,27699.0,28854.0,21776.0,40024.0,36.0,2906.0,7843.0
2022-01-01 03:00:00,1.0,1.0,3.0,2022.0,26788.0,29620.0,20171.0,40012.0,36.0,2890.0,8555.0
2022-01-01 04:00:00,1.0,1.0,4.0,2022.0,27341.0,30051.0,22813.0,40005.0,36.0,2878.0,8223.0
...,...,...,...,...,...,...,...,...,...,...,...
2022-10-31 19:00:00,31.0,10.0,19.0,2022.0,47950.0,38821.0,46531.0,39876.0,0.0,2831.0,5096.0
2022-10-31 20:00:00,31.0,10.0,20.0,2022.0,47688.0,37138.0,44950.0,39860.0,0.0,2828.0,5700.0
2022-10-31 21:00:00,31.0,10.0,21.0,2022.0,45377.0,36239.0,41306.0,39871.0,0.0,2816.0,5454.0
2022-10-31 22:00:00,31.0,10.0,22.0,2022.0,41545.0,29687.0,40208.0,39875.0,0.0,2816.0,5058.0
2022-10-31 23:00:00,31.0,10.0,23.0,2022.0,38686.0,26263.0,36776.0,39873.0,0.0,2838.0,4646.0

In [14]:
#save to csv
df_new.to_csv('energy_output_2022.csv', index=False)

In [9]:
df_new.columns

Index(['Day', 'Month', 'Hour', 'Year', 'Dual Fuel_Gen_MW', 'Hydro_Gen_MW',
       'Natural Gas_Gen_MW', 'Nuclear_Gen_MW', 'Other Fossil Fuels_Gen_MW',
       'Solar_Gen_MW', 'Wind_Gen_MW'],
      dtype='object', name='Fuel Category')